@font-face {
  font-family: Barlow-Regular;
  src: url(fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: Barlow-Bold;
  src: url(fonts/Barlow/Barlow-Bold.ttf);
}

.no-margin {
  margin: 0 !important;
}

.g2-product-reviews-widget-list {
  width: auto;
}

/* Read more */
.g2-content {
  clear: both;
  padding-top: 20px;
}

.g2-hidecontent:after {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top, rgb(250, 251, 250, 1) 0%, 10%, rgba(255,255,255, 0) 100%);
  pointer-events: none;
}

.g2-hidecontent {
  overflow: hidden;
  height: 391px;
  position: relative;
}

.g2-showcontent {
  height: auto;
}

.g2-show-more {
  cursor: pointer;
  width: 100%;
  height: 19px;
  color: rgb(38, 144, 206);
  font-size: 16px;
  font-family: Barlow-Bold;
  font-weight: bold;
  text-align: right;
  padding: 20px 30px;
}

.g2-show-more:hover {
  text-decoration: underline;
}

/* Paginator */
.g2-product-reviews-widget-pager .g2-js-next,
.g2-product-reviews-widget-pager .g2-js-previous {
  cursor: pointer;
}

/* Exposed filters */
.g2-filter-element {
  display: inline-block;
  margin: 5px 5px 5px 0px;
}

.g2-product-review-filters {
  display: block;
  width: 788px;
  font-family: Barlow-Bold;
  min-height: 50px;
  background: rgb(250, 251, 250);
  border: 1px solid rgb(202, 202, 202);
  border-radius: 3px;
  padding: 20px 30px;
  margin-bottom: 1.5rem;
}

.g2-product-review-filters label {
  font-family: Barlow-Regular;
  font-weight: normal;
  font-size: 16px;
  color: rgb(81, 81, 89);
}

.g2-product-review-filters .g2-filter-element .form-type-boolean {
  margin-left: 3.25rem !important;
}

.g2-product-review-filters .g2-filter-element input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.g2-product-review-filters .g2-filter-element button {
  color: rgb(81, 81, 89) !important;
  background-color: #ffffff !important;
  border: 1px solid rgb(202, 202, 202) !important;
}

.g2-product-review-filters .g2-filter-element button:active {
  border: 1px solid rgb(202, 202, 202) !important;
}

.g2-product-review-filters .g2-filter-element button:hover {
  background-color: #d3d3d3 !important;
}

.g2-product-review-filters .form-item {
  margin: 5px 5px 5px 0px;
  padding: 5px;
  min-width: 250px;
}

.g2-product-review-filters input,
.g2-product-review-filters label {
  cursor: pointer;
}

/* Review item */
.g2-product-review-item-list {
  width: 788px;
  min-height: 574px;
  background: rgb(250, 251, 250);
  border: 1px solid rgb(202, 202, 202);
  border-radius: 3px;
  padding: 20px 30px;
  margin-bottom: 1.5rem;
}

.g2-product-review-item a {
  width: 271px;
  height: 29px;
  color: rgb(38, 120, 170);
  font-size: 24px;
  font-family: Barlow-Bold;
  font-weight: bold;
}

.g2-right-sidebar .g2-posted-company-segment-wrapper {
  min-width: 234px;
  min-height: 38px;
  color: rgb(37, 37, 48);
  font-size: 16px;
  font-family: Barlow-Regular;
  font-weight: normal;
  text-align: right;
}

.g2-right-sidebar .g2-posted-on-wrapper {
  min-width: 89px;
  min-height: 38px;
  color: rgb(37, 37, 48);
  font-size: 16px;
  font-family: Barlow-Regular;
  font-weight: normal;
  text-align: right;
  margin-bottom: 5px;
  line-height: normal;
}

.g2-product-review-item .g2-question-wrapper {
  width: 728px;
  min-height: 67px;
  margin-top: 20px;
}

.g2-product-review-item .g2-question-wrapper .g2-question {
  width: 728px;
  min-height: 24px;
  color: rgb(81, 81, 89);
  font-size: 20px;
  font-family: Barlow-Bold;
  font-weight: bold;
}

.g2-product-review-item .g2-question-wrapper .g2-answer {
  width: 728px;
  min-height: 38px;
  color: rgb(37, 37, 48);
  font-size: 16px;
  font-family: Barlow-Regular;
  font-weight: normal;
}

.g2-header-part .g2-left-sidebar {
  float: left;
  min-width: 271px;
  max-width: 400px;
  min-height: 81px;
}

.g2-header-part .g2-right-sidebar {
  float: right;
  width: 234px;
  height: 81px;
}

.g2-left-sidebar .user {
  width: 106px;
  min-height: 19px;
  color: rgb(37, 37, 48);
  font-size: 16px;
  font-family: Barlow-Regular;
  font-weight: normal;
}

.g2-star-rating .g2-star-rating-icons {
  width: 109px;
  height: 21px;
  display: inline-block;
}

.g2-star-rating .g2-star-rating-text {
  width: 77px;
  height: 19px;
  color: rgb(37, 37, 48);
  font-size: 16px;
  font-family: Barlow-Regular;
  font-weight: normal;
  display: inline-block;
}

/* Paginator */
.g2-product-reviews-widget-pager {
  display: block;
  text-align: right;
  width: 788px;
  color: rgb(38, 144, 206);
  font-size: 16px;
  font-family: Barlow-Bold;
  font-weight: bold;
}

.g2-product-reviews-widget-pager p,
.g2-product-reviews-widget-pager span {
  display: inline;
  padding: 8px 16px;
}

.g2-product-reviews-widget-pager .g2-js-previous {
  margin-right: 5px;
}

.g2-product-reviews-widget-pager .g2-js-next {
  margin-left: 5px;
}

.g2-product-reviews-widget-pager .g2-current-page {
  padding: 5px;
  text-decoration: underline;
}

.g2-product-reviews-widget-pager span:hover {
  text-decoration: underline;
}

.g2-ajax-loader {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #ccc;
  opacity: 0.6;
  z-index: 9999;
}

.g2-ajax-loader__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.g2-ajax-loader__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.g2-ajax-loader .spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 4px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
