{#
/**
 * @file
 * G2 implementation for the product reviews list widget.
 *
 * Available variables:
 * - product_id: The product id.
 * - title: The filter title.
 * - filter: The filter filter element array.
 */
#}

{%
  set classes = [
    'g2-filter-element',
  ]
%}

<div {{ attributes.addClass(classes) }}>

  <div class="dropdown show">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="g2-dropdown-filter-product-{{ product_id }}"
      data-toggle="dropdown"
      data-filter_label="{{ title }}"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{ title }}
    </button>

    <div class="dropdown-menu" aria-labelledby="g2-dropdown-filter-product-{{ product_id }}">
      {{ filter }}
    </div>
  </div>

</div>
