{#
/**
 * @file
 * G2 implementation for the product reviews list widget.
 *
 * Available variables:
 * - product_id: The product id.
 * - reviews: List of the product reviews. Each item contains:
 *   - id: The review ID.
 *   - type: The review type.
 *   - is_public: Flag if review is public or not (it may be in moderation state).
 *   - slug: The review slug.
 *   - percent_complete: The review percentage completion.
 *   - submitted_at: The date when the review was submitted.
 *   - title: The review title.
 *   - url: The review URL.
 *   - answers: The review answers. Contains:
 *     - love,hate,recommendations,benefits: Question + answer for this type.
 *   - published_at: The date when the review was published.
 *   - regions[]: The review regions.
 *   - country_name: The country name of the author.
 *   - product_name: The product name.
 *   - source: The source.
 *   - review_incentive: The review incentive flag.
 *   - star_rating: The review star rating.
 *   - star_rating_text: The review star rating text.
 *   - user: The review author.
 *     - industry: User industry.
 *     - name: User name.
 *     - image: User image.
 *     - company: User company.
 *     - title: User title.
 *     - company_segment: User company segment.
 *   - verified_current_user: The review author is verified flag.
 *   - comment_present: The review comment present flag.
 *   - official_response_present: The review official response flag.
 * - filters_form: The full configurator form with filters. It's optional.
 * - pager: The pager element. It's optional.
 */
#}

{%
  set classes = [
    'g2-product-reviews-widget-list',
  ]
%}
{% set block_id = 'g2-product-' ~ product_id %}

<div data-product_id="{{ product_id }}" {{ attributes.addClass(classes).setAttribute('id', block_id) }}>

  {% if filters_form %}
    <div class="g2-product-review-filters">
      {{ filters_form }}
    </div>
  {% endif %}

  {% if reviews %}
    {% for review in reviews %}
      <div class="g2-product-review-item-list">

        <div class="g2-header-part">

          <div class="g2-left-sidebar">

            <div class="g2-product-review-item">
              <a href="{{ review.url }}">"{{ review.title }}"</a>
            </div>

            <div class="g2-product-review-item g2-star-rating">
              <div class="g2-star-rating-icons" data-rating="{{ review.star_rating }}"></div>
              <div class="g2-star-rating-text">{{ review.star_rating_text }}</div>
            </div>

            <div class="g2-product-review-item user">
              {% if review.user %}
                {{ review.user.name }}
              {% endif %}
            </div>

          </div>

          <div class="g2-right-sidebar">

            <div class="g2-posted-on-wrapper">
              <div class="g2-posted-on-label">{{ "Posted on:"|t }}</div>
              <div class="g2-posted-on-info">{{ review.published_at }}</div>
            </div>

            <div class="g2-posted-company-segment-wrapper">
              <div class="g2-posted-company-segment-label">{{ "Entertainment"|t }}</div>
              <div class="g2-posted-company-segment">
                {% if review.user %}
                  {{ review.user.company_segment }}
                {% endif %}
              </div>
            </div>

          </div>
        </div>

        {% if review.answers %}

          <div class="g2-product-review-item g2-content g2-hidecontent">
            {% for index,answer in review.answers %}

              {% if index == 'love' %}
                <div class="g2-question-wrapper no-margin">
              {% else %}
                <div class="g2-question-wrapper">
              {% endif %}

                <div class="g2-question">{{ answer.text|t }}</div>
                <div class="g2-answer">{{ answer.value }}</div>
              </div>
            {% endfor %}
          </div>
          <p class="g2-show-more">{{ 'Show more'|t }}</p>

        {% endif %}
      </div>
    {% endfor %}

    {% if pager %}
      {{ pager }}
    {% endif %}

  {% else %}
    <div>{{ 'No results found'|t }}</div>
  {% endif %}

  <a
    href="{{ path(review_form_route, {'pid': product_id}) }}"
    target="_blank"
    class="button"
  >
    {{ 'Leave a review'|t }}
  </a>
</div>
