{#
/**
 * @file
 * G2 reviews list widget pager.
 *
 * Available variables:
 * - page: The start page.
 * - page_count: The number of pages.
 */
#}

{%
  set classes = [
    'g2-product-reviews-widget-pager',
  ]
%}

<div {{ attributes.addClass(classes) }}>
  {% if page_count > 1 %}

    {% if page > 1 %}
      <span class="g2-js-previous">{{ "< Previous"|t }}</span>
    {% endif %}

    <p data-page="{{ page }}" class="g2-current-page"></p>

    {% if page < page_count %}
      <span class="g2-js-next">{{ "Next >"|t }}</span>
    {% endif %}

  {% endif %}

</div>
